.search {
    h1{
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
    }
    input {
        text-align: center;
        height: 50px;
        border-radius: 20px;
    }
}