.error {
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
}